<header class="bg-[#25806f] text-white">

    <div class="max-w-8xl mx-6 px-4 sm:px-6 lg:px-3  mx-0 flex justify-between items-center h-16">
        <!-- Left side of the navbar -->
        <div class=" items-center flex site-refresh">

            <div class="flex  items-center"  style="cursor: pointer;" >
                <span class="text-xl font-sans font-bold">Book Notes</span>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" class="w- h-12" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-51.2 -51.2 614.40 614.40" xml:space="preserve"
                    width="64px" height="64px" fill="#000000" stroke="#000000" stroke-width="0.00512">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <circle style="fill:#F2CF61;" cx="256" cy="256" r="256"></circle>
                        <path style="fill:#233540;"
                            d="M112,106.332c0,13.2,10.8,24,24,24h188h24v24c0,0,0,148,0,200c0,4-4,8-8,8c-52-0.024-204,0-204,0 c-13.2,0-24-10.8-24-24v-184V106.332z">
                        </path>
                        <g>
                            <rect x="152" y="130.332" style="fill:#1C2A33;" width="8" height="232"></rect>
                            <rect x="176" y="178.332" style="fill:#1C2A33;" width="8" height="184"></rect>
                            <path style="fill:#1C2A33;"
                                d="M348,146.332v140c0,8.8-7.2,16-16,16H192c-8.8,0-16-7.2-16-16v-112c0-16,12-28,28-28H348z">
                            </path>
                        </g>
                        <path style="fill:#406A80;"
                            d="M348,90.332c0-4-4-8-8-8s-16,0-16,0H136c-13.2,0-24,10.8-24,24s10.8,24,24,24h188h24 C348,130.332,348,100.332,348,90.332z">
                        </path>
                        <rect x="152" y="82.332" style="fill:#395F73;" width="8" height="48"></rect>
                        <path style="fill:#E66356;"
                            d="M136,130.332h16v-48h-16c-13.2,0-24,10.8-24,24S122.8,130.332,136,130.332z"></path>
                        <path style="fill:#F5F5F5;" d="M136,122.332c-8.672,0-16-7.328-16-16s7.328-16,16-16h212v32H136z">
                        </path>
                        <path style="fill:#CC584C;"
                            d="M136,362.332h16v-232h-16c-13.2,0-24-10.8-24-24v48v184C112,351.532,122.8,362.332,136,362.332z">
                        </path>
                        <g>
                            <rect x="212" y="234.32" style="fill:#F5F5F5;" width="80" height="8"></rect>
                            <rect x="192" y="234.32" style="fill:#F5F5F5;" width="104" height="8"></rect>
                        </g>
                        <path style="fill:#233540;"
                            d="M184,178.332c0,13.2,10.8,24,24,24h176h24v24c0,0,0,148,0,200c0,4-4,8-8,8c-52-0.024-192,0-192,0 c-13.2,0-24-10.8-24-24v-184V178.332z">
                        </path>
                        <rect x="224" y="202.332" style="fill:#1C2A33;" width="8" height="232"></rect>
                        <path style="fill:#406A80;"
                            d="M408,162.332c0-4-4-8-8-8s-16,0-16,0H208c-13.2,0-24,10.8-24,24s10.8,24,24,24h176h24 C408,202.332,408,172.332,408,162.332z">
                        </path>
                        <rect x="224" y="154.332" style="fill:#395F73;" width="8" height="48"></rect>
                        <path style="fill:#E66356;"
                            d="M208,202.332h16v-48h-16c-13.2,0-24,10.8-24,24S194.8,202.332,208,202.332z"></path>
                        <path style="fill:#F5F5F5;" d="M208,194.332c-8.672,0-16-7.328-16-16s7.328-16,16-16h200v32H208z">
                        </path>
                        <path style="fill:#CC584C;"
                            d="M208,434.332h16v-232h-16c-13.2,0-24-10.8-24-24v48v184C184,423.532,194.8,434.332,208,434.332z">
                        </path>
                        <g>
                            <rect x="284" y="290.32" style="fill:#F5F5F5;" width="64" height="8"></rect>
                            <rect x="264" y="306.32" style="fill:#F5F5F5;" width="104" height="8"></rect>
                        </g>
                    </g>
                </svg>

            </div>
        </div>


        <!-- Right side of the navbar -->
        <div class="hidden sm:flex space-x-4">

            <a href="/" class="nav-link text-white hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 relative group w-max ">
                <span>Home</span>
                <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
              </a>
              <a href="/books" class="nav-link text-white hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 relative group w-max">
                <span>All Books</span>
                <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
              </a>
              <a href="/add" class="nav-link text-white hover:text-white px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300 relative group w-max">
                <span>Add a Book</span>
                <span class="absolute -bottom-1 left-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 transition-all h-0.5 bg-white group-hover:w-3/6"></span>
              </a>


            <form action="/search" method="get" class="flex items-center max-w-sm mx-auto">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    </div>
                    <input type="text" id="simple-search" name="query"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  "
                        placeholder="Search book name..." required />
                </div>
                <button type="submit"
                    class="p-2.5 ms-2 text-sm font-medium text-white bg-[#098f14] rounded-lg border border-[#098f14] hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </form>
        </div>
        <!-- Mobile menu button -->
        <div class="sm:hidden flex items-center">
            <button class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                id="mobile-menu-button">
                Menu
            </button>

        </div>
    </div>
</header>

<!-- Mobile menu -->
<div class="sm:hidden bg-gray-800 text-white p-4 hidden" id="mobile-menu">
    <a href="/" class="text-gray-300 hover:text-white block py-2 rounded-md text-sm font-medium">Home</a>
    <a href="/books" class="text-gray-300 hover:text-white block py-2 rounded-md text-sm font-medium">All Books</a>
    <a href="/add" class="text-gray-300 hover:text-white block py-2 rounded-md text-sm font-medium">Add a Book</a>


</div>